export(FanPC.SFM)
export(GulPC.SFM)
export(IPC.SFM)
export(OPC.SFM)
export(PC1.SFM)
export(PC2.SFM)
export(PPC1.SFM)
export(PPC2.SFM)
export(SAPC.SFM)
export(SFM)
export(SOPC.SFM)
export(SPC.SFM)
export(calculate_errors)

importFrom(SOPC, IPC, PPC, SPC, OPC, SAPC, SOPC)
importFrom(matrixcalc, frobenius.norm)
importFrom(stats, cor, cov,runif)
importFrom(sn, rsn)
importFrom(MASS, mvrnorm)
import(psych)